In [ ]:
import pandas as pd # dataframes (tables and data management manipulation in python)
import numpy as np # math library
import tensorflow as tf # neural network
from sklearn.model_selection import train_test_split # split training and testing method
from sklearn.preprocessing import StandardScaler   # to split data into x and y x is numerical and y is target value???? # Scale values for network compatibility
import os # for system calls
import seaborn as sns # visualisation
from matplotlib import pyplot as plt # plotting
import io, re, shutil, string

In [ ]:
lc_loans_df = pd.read_csv('databases/LC_loans_granting_model_dataset.csv')
# sentiment_df = pd.read_csv('databases/sentiment_analysis_gasp.csv', encoding='ISO-8859-1')
lc_loans_df

/tmp/ipykernel_47981/3519787161.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  lc_loans_df = pd.read_csv('databases/LC_loans_granting_model_dataset.csv')

,id,issue_d,revenue,dti_n,loan_amnt,fico_n,experience_c,emp_length,purpose,home_ownership_n,addr_state,zip_code,Default,title,desc
0,68407277,Dec-2015,55000.0,5.91,3600,677.0,1,10+ years,debt_consolidation,MORTGAGE,PA,190xx,0,Debt consolidation,NaN
1,68355089,Dec-2015,65000.0,16.06,24700,717.0,1,10+ years,small_business,MORTGAGE,SD,577xx,0,Business,NaN
2,68341763,Dec-2015,71000.0,13.85,20000,697.0,1,10+ years,home_improvement,MORTGAGE,IL,605xx,0,NaN,NaN
3,68476807,Dec-2015,104433.0,25.37,10400,697.0,1,3 years,major_purchase,MORTGAGE,PA,174xx,0,Major purchase,NaN
4,68426831,Dec-2015,34000.0,10.20,11950,692.0,1,4 years,debt_consolidation,RENT,GA,300xx,0,Debt consolidation,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347676,89905081,Oct-2016,130000.0,20.59,18000,737.0,1,5 years,home_improvement,OWN,TX,775xx,0,Home improvement,NaN
1347677,88948836,Oct-2016,180792.0,22.03,29400,707.0,1,9 years,debt_consolidation,MORTGAGE,CA,900xx,0,Debt consolidation,NaN
1347678,89996426,Oct-2016,157000.0,10.34,32000,737.0,1,3 years,home_improvement,MORTGAGE,AZ,863xx,1,Home improvement,NaN
1347679,90006534,Oct-2016,150000.0,12.25,16000,667.0,1,10+ years,medical,RENT,NC,284xx,0,Medical expenses,NaN
1347680,88224441,Oct-2016,110000.0,18.30,24000,662.0,1,6 years,debt_consolidation,RENT,FL,334xx,1,Debt consolidation,NaN

In [8]:
for i in lc_loans_df['id'].values[:100000]:
    x = lc_loans_df[lc_loans_df['id'] == i]
    if len(x) > 1:
        print(x)